body {
  background-color: rgb(0, 0, 0);
  overflow-y: scroll;
  /* margin-bottom: 10px; */
  /* font-family: 'Shadows Into Light', cursive; */
}

#header {
  display: flex;
  justify-content: center;
  color: rgba(235, 235, 235, 0.844);
  font-size: 100px;
  letter-spacing: 1px;
  margin: 5px;
}

#sugiwon {
  float: left;
  color: white;
  letter-spacing: 1px;
  padding-top: 0px;
  padding-left: 15px;
  text-decoration: none;
}
#sugiwon.hover {
  color: white;
}

#contact-form {
  color: white;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

#input-email {
  width: 300px;
}

#nav-div {
  height: 90px;
}


.nav-item {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  /* border: 1px solid white; */
  padding: 20px;
  padding-top: 17px;
  /* padding-top: 15px; */
  /* margin-bottom: 50px; */
  display: flex;
  float: right;
}

#contact-form {
  color: white;

}

#disc-master-div {
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  /* background-color: green; */
  /* max-width: 100%; */
}

#disc {
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: green; */
  /* height: 40px; */
}

.disc-each {
  max-width: 300px;
  margin-bottom: 20px;
}

.prod-by {
  margin: 0px;
}

.music-links {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.song-title {
  font-size: 20px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.disc-art {
  /* margin-top: 200px; */
  width: 300px;
  /* padding: 20px; */
}

#falling-prodcredits-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#falling-prodcredits {
  width: 700px;
  max-width: 100%;
}

.falling-cred-link {
  color: white;
}

#message-body {
  height: 200px;
}






#main-vid-div {
  padding-top: 50px;
}

.player-wrapper {
  position: relative;
  /* Player ratio: 100 / (1280 / 720) */
  padding-top: 56.25%;
  margin-left: 4%;
  margin-right: 4%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

#audio-players {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

#falling-players {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-evenly;
}

#syzzle-spotify-player {
  border-radius: 2%;
}

#falling-spotify-player {
  border-radius: 2%;
}

#spotify-player {
  border-radius: 2%;
}

#falling-pics {
  margin-top: 130px;
  /* margin-bottom: 5px; */
  display: flex;
  flex-wrap: wrap;

}

#falling-credits {
  width: 33.333%;
  min-width: 135px;
}
#falling-artwork {
  width: 33.333%;
  min-width: 135px;
}
#falling-panel {
  width: 33.333%;
  min-width: 135px;
}

.nav-color {
  background-color: black;
}

#social-media-icons {
  position: fixed;
  bottom: 0;
  display: flex;
  /* margin-left: 33%; */
  background-color: black;
  width: 100%;
  justify-content: center;
}

#socials-sub-div {
  display: flex;
  justify-content: space-evenly;
}


.social-icon {
  width: 50px;
  padding: 10px;
}
.social-icon.hover {
  opacity: 50%;
}
